#!/bin/bash -x

export DEBIAN_FRONTEND=noninteractive
curl -sL https://releases.rancher.com/install-docker/${docker_version}.sh | sh
sudo usermod -aG docker ${username}
sudo docker run -itd -p 80:80 -p 443:443 rancher/rancher:v2.4.8
